<h1>Cocktails#new</h1>
<p>Find me in app/views/cocktails/new.html.erb</p>
<div class="container">
  <h1>New Cocktail</h1>
  <%# <form action="/restaurants/3/reviews" method="post"></form> %>
  <%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.submit class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Back' , cocktails_path %>
</div>
