<div class="container my-5" style="width: 30%">
  <h1>Add a dose</h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit 'create', class: "btn btn-warning rounded-pill"%>
  <% end %>
</div>
<!-- btn-outline-danger btn-sm rounded-pill m-2 -->