
.footer {
  background: #black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: $orange;
}
@media (min-width: 100px) and (max-width: 575px) {
  .footer-copyright {
  font-size: 0.8em;
}
}
