.navbar-lewagon {
  justify-content: space-between;
  background: $white;
  position: relative;
  height: 4em;
  // background-color: transparent;
  // transition: 0.5s background-color ease;
}

// .navbar-lewagon-white {
//   background-color: white;
// }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  position: absolute;
  left: 0.5em;
  margin: 1px;
}

.icon {
  color: $orange;
  font-size: 2em;
  padding: 1em;
}
